html,body{
	height: 100%;
	font-size:100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: $white;
	&:after{
		content: '.';
		position:absolute;
		top:20px;
		left:20px;
		height:calc(100% - 40px);
		border:1px solid $white;
		width:calc(100% - 40px);
		@include ease-out-in(0.44s);
	}
	&.nav-open{
		nav{
			left:-20px;
		}
		&:after{
			content: '.';
			position:absolute;
			top:20px;
			left:300px;
			height:calc(100% - 40px);
			width:calc(100% - 320px);
		}
		.intro{
			width:calc(100% - 260px);
			margin-left:280px;
		}
		bar{
			width:50%;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-25%;
			margin-top:-2px;
			background:$white;
			&:first-child{
			    -ms-transform: rotate(45deg); /* IE 9 */
			    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			    transform: rotate(45deg);
			}
			&:last-child{
			    -ms-transform: rotate(-45deg); /* IE 9 */
			    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			    transform: rotate(-45deg);
			}
			&:nth-child(2){
				@include opacity(0,0);
			}
		}
	}
}

.full-height{
	height:100%;
}
.intro{
	height:100%;
	width:100%;
	background:$purple;
	background: url(/images/bike_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	// -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	// -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	// -webkit-filter: grayscale(100%);
	// filter: gray;
	// filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	@include animate-all(0.22s);
	copy{
		top:50%;
		margin:0 auto;
		color:$white;
		position:absolute;
		width:500px;
		margin-left:-250px;
		left:50%;
		margin-top:-50px;
		text-align: center;
		text-transform: uppercase;

		inner{
			z-index:2;
			background: rgba(0, 0, 0, .65); 	
		    padding: 10px 20px 20px 20px;
		    display: inline-block;
		    width: auto;
		}
		// &:before{
		// 	content: '';
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -20%;
		// 	overflow: visible;
		// 	width: 100%;
		// 	height: 120%;
		// 	border-top:1px solid $white;
		// 	border-bottom:1px solid $white;
		// 	-webkit-transform: skewY(-6deg);
		// 	-moz-transform: skewY(-6deg);
		// 	-ms-transform: skewY(-6deg);
		// 	-o-transform: skewY(-6deg);
		// 	transform: skewY(-6deg);
		// 	z-index:1;

		// }
		// &:after{
		// 	content: '';
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -10%;
		// 	overflow: visible;
		// 	width: 100%;
		// 	height: 120%;
		// 	border-top:1px solid $white;
		// 	border-bottom:1px solid $white;
		// 	-webkit-transform: skewY(-6deg);
		// 	-moz-transform: skewY(-6deg);
		// 	-ms-transform: skewY(-6deg);
		// 	-o-transform: skewY(-6deg);
		// 	transform: skewY(-6deg);
		// }
	}
}