.pod{
	@include animate-all(0.22s);
	&.two-height{
		height:auto;		
	}
	&.one-height{
		height:250px;
		font-size:18px;
	}
	&.rectangle{
		height:350px;
	}
	&.opaque{
		background:$black;
		@include opacity(.75,75);
	}
	&.bottom{
		position:absolute;
		bottom:0;
		&.right{
			right:0;
		}
		&.left{
			left:0;
		}
	}
	a{
		display: table;
		height:100%;
		width:100%;
		text-decoration:none;
	}	
	.front{
		height:auto;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		h3{
			font-size:18px;
		}
	}
}