// Put Bootstrap override variables here, and any custom variables required.
$white : #fff;
$black : #000;
$maroon : #923843;
$graphite : #707070;
$light-grey: #ededed;
$mid-grey: #dfdfdf;
$orange: #cb8b2d;
$navy: #45214a;

.white {
	color:$white;
}
.black {
	color:$black;
}
.maroon{
	color:$maroon
}
.graphite{
	color:$graphite
}
.mid-grey{
	color:$mid-grey
}
.light-grey{
	color:$light-grey
}
.orange{
	color:$orange
}
.navy{
	color:$navy
}
.white-bg{
	background-color:$white;
}
.black-bg{
	background-color:$black;
}
.maroon-bg{
	background-color:$maroon
}
.graphite-bg{
	background-color:$graphite
}
.mid-grey-bg{
	background-color:$mid-grey
}
.light-grey-bg{
	background-color:$light-grey
}
.orange-bg{
	background-color:$orange
}
.navy-bg{
	background-color:$navy
}